body {
    line-height: 1.7;
    font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
    background: #f7fafc;
    color: #555;
    margin: 0;
}
.index-main {
    margin-bottom: -102px;
    min-height: 100%;
}
.index-main-body {
    margin: auto;
    padding: 30px 0 102px;
    width: 300px;
}
.index-header {
    text-align: center;
}
.header {
    display: block;
    margin: 0 auto 0 auto;
    width: 96px;
    height: 44.4px;
}
.subtitle {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
}
.nav {
    margin:  0 0 10px;
    font-size: 18px;
    text-align: center;
}
.nav .navs {
    position: relative;
    display: inline-block;
}
.nav a {
    float: left;
    width: 4em;
    line-height: 35px;
    opacity: .7;
    color: #555;
}
.nav a.active {
    opacity: 1;
    color: #0f88eb;
}
a {
    text-decoration: none;
}
.navs-bar {
    position: absolute;
    left: 4em;
    bottom: 0;
    margin: 0 0.8em;
    width: 2.4em;
    height: 2px;
    background: #0f88eb;
}
.login-module {
    margin: auto;
    float: none;
    width: 300px;
    text-align: left;
    font: 14px;
}
.input-user:first-child{
    border-top: 0;
}
.input-user {
    padding: 1px 0;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
}
.input-username,.input-password {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 36px;
}
.login-module .input-user input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: #fff;
    padding: 1em .8em;
    width: 100%;
    box-sizing: border-box;
    color: #555;
    border-top: 1px solid #d5d5d5;
}
.login-button,.login-problem,.social-account {
    margin-top: 22px;
}
.login-button button {
    font-family: inherit;
    
    padding: 0;
    width: 100%;
    font-size: 15px;
    color: #fff;
    background: #0f88eb;
    box-shadow: none;
    border: 0;
    border-radius: 3px;
    line-height: 41px
}
.login-problem .mobile-login {
    font-size: 14px;
    color: #5ca5e8;
}
.login-problem .not-login {
    float: right;
    font-size: 14px;
    color: #555;
}
.social-account p {
    margin-right: 20px;
    color: #787878;
    font-size: 14px;
}
.download {
    margin-top: 24px;
}
.download .download-button {
    padding: 0;
    background: 0 0;
    border: 1px solid #96c2e9;
    border-radius: 3px;
    width: 100%;
    line-height: 39px;
}
.download-address {
    margin-left: 2px;
    color: #5fa6e5;
    font-family: initial;
    font-size: 14px;
}
.footer {
    line-height: 42px;
    padding-bottom: 60px;
    font-size: 12px;
    text-align: center;
    padding-top: 44px;
}
.footer a {
    color: #aebdc9;
}
input::-webkit-input-placeholder {
    color: rgb(200, 200, 200);
}
