html,body {
    height: 100%;
    margin: 0;
}
video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
}
.logo img {
    margin: 80px auto 0px;
    display: block;
}
.scene {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px;
    perspective: 1000px;
}
.object {
    width: 127.75px;
    height: 218.75px;
    position: relative;
    animation: spin 60s linear infinite;
    perspective-origin: center top;
    transform-style: preserve-3d;
}
.object:hover {
    animation-play-state: paused;
}
.face {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    position: absolute;
}
.object img {
    width: 127.75px;
    height: 218.75px;
    border-radius: 4px;
}
.face:nth-child(1) {
    transform: rotateY(0) translateZ(300px);
}
.face:nth-child(2) {
    transform: rotateY(45deg) translateZ(300px);
}
.face:nth-child(3) {
    transform: rotateY(90deg) translateZ(300px);
}
.face:nth-child(4) {
    transform: rotateY(135deg) translateZ(300px);
}
.face:nth-child(5) {
    transform: rotateY(180deg) translateZ(300px);
}
.face:nth-child(6) {
    transform: rotateY(225deg) translateZ(300px);
}
.face:nth-child(7) {
    transform: rotateY(270deg) translateZ(300px);
}
.face:nth-child(8) {
    transform: rotateY(315deg) translateZ(300px);
}
@keyframes spin {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(-360deg);
    }
}